<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="info">

        <hr>
        <h1>演示使用vue.js解析json</h1>
        <div v-if="loading">正在加载数据...</div>
        <div  v-else v-for="c in info">
            {{c.description}}
        </div>
    </div>
</body>
</html>
<script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
<script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
<script>
    new Vue({
        el:'#info',
        data(){
            return{
                info:'',
                loading:true,
            }

        },
        created(){
            axios.get('http://api.coindesk.com/v1/bpi/currentprice.json').then((response)=>{
               this.info=response.data.bpi;
            }).catch(
                (e)=>console.log(e)
            ).finally(
                ()=>this.loading=false
            )
        }
    })
</script>